# Ignore data files and DVC cache
.dvc/cache/
.dvc/dump
models/
reports/

#ignore python cache
*.pyc
venv/
.env


# MLflow
mlruns/

#ignore terraform state and secrets
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

#ignore docker and local configs
*.log
.env
" > .gitignore"mlruns/" 

# Python/venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.egg-info/

#OS
.DS_Store
Thumbs.db
